@mixin margin{
	margin-top: 50px;
	margin-left: 100px;
}
@mixin text-a{
	color:white;
	text-decoration: none;
}
@mixin b-r{
		border: 1px solid white;
		height: 30px;
		padding: 0px 40px;
		padding-top: 10px;
		border-radius: 30px;
}
@mixin mauto{
	margin-right: auto;
	margin-left: auto;
}

@mixin button{
	background: white;
	width: 200px;
	height: 40px;
	border-radius: 30px;
	border: 1px solid #a2adc3;
	font-size: 20px;
}

$mg-lr: 100px;
$mg-t: 50px;
$color-a: #5584ff;

@import 'header.scss';
@import 'body.scss';









